<div class="index-content">
  <div class="section">
    <div class="list-toolbar">
      <input type="text" class="search-input" placeholder="搜索标题或描述…" autocomplete="off" />
    </div>

    <table class="artical-list">
      <thead>
        <tr>
          <th class="col-date">日期</th>
          <th class="col-title">标题</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.categories[page.category] %}
        <tr class="artical-row"
            data-search="{{ post.title | downcase | escape }} {{ post.description | downcase | escape }}">
          <td class="col-date">{{ post.date | date: "%Y-%m-%d" }}</td>
          <td class="col-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% if post.description %}
            <div class="title-desc">{{ post.description }}</div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="list-empty" style="display:none;">没有找到匹配的文章</div>
    <div class="pagination"></div>
  </div>
</div>